body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}
/* Footer */

.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
    color:#222222;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width:100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}


.f-info-socials i{
    color:#222222;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height:8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
    background-color: #ebebeb;

}
/* .main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0rem;
    margin:2rem;
    gap:2rem;
}
.card{
    margin:0rem;
    height:350px;
    display: flex;
    flex-wrap:nowrap;
} */

/* cards */

.card{
    border:none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}
 .card-text p{
    font-weight: 400;
 }

 .listing-link{
    text-decoration: none;
 }

 /* card effect */
 .card-img-overlay{
    opacity: 0;
 }
 .card-img-overlay:hover{
    opacity: .2;
    background-color: white;
    
 }
 /* new` */

 .add-btn{
    background-color: #fe424d !important;
    border:none !important;
 }
/* edit */

.edit-btn{
    background-color: #f12562 !important;
    border:none !important;
}

.cm{
    margin-bottom:-1rem;
}
/* show page */

.show-img{
    width: 50% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
    margin-bottom: 1rem;
}

.btns{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.show-card{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* booking data */
.BD_cont{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.BD_data{
    border:solid #353030;
    border-radius: 20px;
    display:flex;
    height:45%;
    overflow: hidden;
    width:35%;
    gap:2rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* search box */
.anchor{
    text-decoration: none;
}